# we need this for readthedocs

jinja2==3.0.0
Sphinx
sphinx-autobuild
sphinxcontrib-autorun
sphinxcontrib-napoleon>=0.4.4
sphinx_rtd_theme
sphinxcontrib-httpdomain
ipython
matplotlib
base58
sphinx-press-theme==0.8.0
